/* content */
.app {
    height: 100%;
    position: relative;
}
.songBg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.songBg::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(0, 0, 0, .5);*/
}

.songWrap {
    padding-top: 70px;
}
.songDisc {
    position: relative;
    width: 296px;
    height: 296px;
    margin: 0 auto;
}
.songDiscBg {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.songDiscCover {
    position: absolute;
    z-index: 1;
    width: 184px;
    height: 184px;
    left: 50%;
    top: 50%;
    margin-left: -92px;
    margin-top: -92px;
}
.songImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
}
.uImg {
    width: 100%;
}
.songImgPlay {
    animation: circle 10s linear infinite;
}
@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.playBtn {
    width: 56px;
    height: 56px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
}
.playBtnPlay {
    display: none;
}

.songNeedle {
    position: absolute;
    z-index: 3;
    top: -70px;
    width: 96px;
    height: 137px;
    left: 133px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-30deg);
    transform-origin: left top;
    transition: transform .5s;
}
.songNeedlePlay {
    transform: rotate(0);
}


