/* animations.css */
@import 'Puzzle.module.css';

/* 线条样式 */
.line-1 {
    fill: var(--line-default);
    pointer-events: none;
}
.line-2 {
    fill: var(--line-primary);
    pointer-events: none;
}
.line-3 {
    fill: var(--line-secondary);
    pointer-events: none;
}

/* 动画关键帧 */
@keyframes line-success {
    to { fill: var(--line-success); }
}
@keyframes line-fail {
    to { fill: var(--line-fail); }
}
@keyframes error {
    to { fill: red; }
}
@keyframes fade {
    to { opacity: 0.35; }
}
@keyframes start-grow {
    from { r: 12px; }
    to { r: 24px; }
}

@keyframes end-hint-grow {
    0% {
        r: 6px;
        fill: none;
        stroke: #fff;
        stroke-width: 1px;
        stroke-opacity: 1;
    }
    50% {
        r: 18px;
        fill: none;
        stroke: #fff;
        stroke-width: 1px;
        stroke-opacity: 0;
    }
    /*保持不变*/
    100% {
        r: 18px;
        fill: none;
        stroke: #fff;
        stroke-width: 1px;
        stroke-opacity: 0;
    }
}


