
.theme {
    --line-primary: #8FF;
    --line-secondary: #FF2;

    .theme-light {
        --background: #0A8;
        --outer-background: #113833;
        --foreground: #344;
        --border: #000;
        --line-default: #AAA;
        --line-success: #FFF;
        --line-fail: #000;
        --cursor: #FFF;
        --text-color: #000;
        --page-background: #FFF;
        --alt-background: #EEE;
        --active-color: #DDD;
    }

    .theme-dark {
        --background: #221;
        --outer-background: #070704;
        --foreground: #751;
        --border: #666;
        --line-default: #888;
        --line-success: #BBB;
        --line-fail: #000;
        --cursor: #FFF;
        --text-color: #AAA;
        --page-background: #000;
        --alt-background: #333;
        --active-color: #555;
    }
}




